.Homepage {
  background: rgb(10, 9, 9);
}

.home_md {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.manage {
  width: 80%;
  text-align: center;
  padding: 1.5rem;
  margin: 2rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.manage span {
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
  display: block;
}

.inventory,
.product,
.login,
.logout {
  background: blue;
  transition: all 2s;
  cursor: pointer;
  padding: 1rem;
}

.inventory:hover,
.product:hover,
.login:hover,
.logout:hover {
  background: rgba(3, 3, 114, 0.507);
}

.Products-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.17);
  border-radius: 1rem;
}

.product-box {
  margin: 1rem 0.1rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background: #fff;
  width: 35%;
  text-decoration: none;
  box-shadow: 2px 4px 10px 1px rgba(71, 71, 71, 0.47);
  transition: all 1.5s;
}
.product-box:hover {
  width: 36%;
}

.product-box h4 {
  font-weight: 600;
}

.product-box h4 span {
  font-weight: 400;
}

.login,
.logout {
  color: white;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
}
