.Client {
  flex: 2;
  margin-top: 5rem;
}

.links {
  color: blue;
  text-decoration: none;
  transition: all 1.1s;
}

.links:hover {
  color: rgb(2, 2, 68);
}

.detailLink {
  background: #222;
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  transition: all 1.1s;
}

.detailLink:hover {
  background: #333;
  color: blue;
}

.name-product {
  text-transform: uppercase;
}
